<% @tags.each do |tag| %>
  <li><%= link_to tag.name, tasks_path(:tag=>tag.name), :class=>@focused_tags.include?(tag.name) ? "focused tag" : "tag", :remote=>true, :id=>"tag_#{tag.name.hash}" %></li>
<% end %>
