body {
  font-size: 110%;
}

#container-outer {
  margin: 0px auto;
  width: 1000px;
}

#container {
  margin: 0px 40px;
  width: 920px;
}

#sidebar {
  width: 341px;
  float:left;
  padding-right: 10px;
}

#main {
  width:569px;
  float:right;
}

header h1 {
  clear:both;
  height:60px;
}

#user-links {
  margin:0px;
  float:right;
}
#user-links li {
  list-style:none;
  display:inline;
}

#tasks, #completed_tasks{
  margin-left: 0px;
}

#tasks li, #completed_tasks li {
  list-style: none;
}

#completed_tasks li span {
  text-decoration:line-through;
}

li.task input[type="checkbox"] {
  vertical-align: baseline;
}

#tags ul {
  margin:0px;
}

#tags ul li {
  list-style:none;
  display:inline-block;
}

#tags ul a {
  padding:3px;
}

#tags ul a.focused {
  background-color: #444;
  color: #fff;
}

#new_task input {
  width: 554px;
}

form.task.edit {
  margin 1em 0px;
}

form.task.edit label {
  width:auto;
  padding-right:10px;
}

form.task.edit input.tag_list{
  margin-right:20px;
}

form.task.edit input.task_name {
  width: 554px;
}

form.task.edit input.awesome {
  vertical-align: baseline !important;
}

#tips {
  margin:0px;
}

#tips li {
  display:none;
  list-style:none;
}

.tip {
  font-size: 90%;
  font-style:italic;
}

.registrations #main-wrapper, .sessions #main-wrapper, .passwords #main-wrapper{
  width: 435px;
  margin: auto;
}
