<h2>Feedback</h2>
<p>I hope you like using Todoly.net and haven't ran into any problems, but if you have please feel free to drop me a line at <%=mail_to "jduff@todoly.net"%>. I'd also love to hear any ideas you might have for the project; what you like, don't like or want to see added or changed. I'm also available on Twitter <%=link_to "@johnduff", "http://twitter.com/johnduff" %> if you want to chat.</p>
